@import './variables.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'PT Root UI', sans-serif;
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-button {
  background: none; /* убираем фон */
  border: none; /* убираем рамку */
  padding: 0; /* убираем отступы */
  cursor: pointer; /* курсор как у кнопки */
  display: inline-flex; /* чтобы иконка выровнялась красиво */
  align-items: center;
  justify-content: center;
}

.icon-button:focus {
  border-radius: 1px;
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text-primary {
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}
